
<%= text_field_tag :name, nil , id: "hikeName", placeholder: "Name" %><br>
<%= text_area_tag :description, nil ,  id: "hikeDesc", placeholder: "Description" %><br>

<button id="saveHike">Save Hike Path</button>
<div id="mapid"></div>
