<script>
  var waypoints = <%= raw @waypoints.to_json %>;
</script>

<button id="backHikes">All Hikes</button>

<div id="mapid"></div>
<div>
    <% if @current_user == @hike.user %>
       <div id='editHike' ><%= link_to 'Edit Hike', edit_hike_path(@hike) %></div>
    <% end %>
    <h3><%= @hike.name %></h3>
    <p><%= @hike.description %></p>
</div>

<div id='commentBox'></div>
