<script type="text/javascript">
    var waypoints = <%= raw @waypoints.to_json %>;
</script>



<h1>Track me</h1>

<div class="trackMap">


</div>


<div id="trackGo">
  <button type="button" name="button"> GO </button>
</div>

<div id="trackStop">
  <button type="button" name="button"> STOP </button>
</div>
