
<!-- <div class="parallax-container">
  <div class="parallax"><img src="assets/static_page.jpg">
  </div>
</div> -->


<!-- <div> -->
  <div class="row container">
    <h1 class="header"> TREKR</h1>
    <h2 class="grey-text text-darken-3 lighten-3"> All the treks you could want at your fingertips</h2>
      <div class="buttonTrial">
          <% unless @current_user.present? %>
            <button class="btn-floating btn-large red" class="material-icons"><%= link_to 'Login', login_path %></button> <button class="btn-floating btn-large red" class="material-icons"> <%= link_to 'Signup', new_user_path %> </button>
          <% else %>
            <p>
              Welcome, <%= link_to @current_user.firstname, user_path(@current_user) %> |
              <%= link_to 'Logout', login_path, method: :delete %>
                 <i class="close material-icons">close</i>
            </p>
          <% end %>
        </div>
  </div>

<!-- </div> -->


<!-- <div id="welcomeMap"></div> -->

<!-- <div class="parallax-container">
  <div class="parallax"><img src="assets/parallax2.jpg"></div>
</div> -->
