// Place all the styles related to the hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav-mobile{
  height: 0;
  // TODO: Fix mobile responsive design, menu > hamburger
}

#mapid {
  height: 450px;
  width: 100%;
}
//
// #map {
//         width: 100%;
//         height: 400px;
//         background-color: grey;
//
//       }

#searchBox {
    background-color: rgba(255,255,255, 0.8);
    top: 0px;
    position: absolute;
    right: 114px;
    width: 160px;
    height: 24px;
    opacity: 1;
    padding-left: 10px;
    border-radius: 5px;
}

#terrainView {

   background-color: rgba(0,0,0,0.5);
   color: white;
   // border: 1px solid black;
   // margin-right: 20px;
   // border-radius: 25px;
   top: 0px;
   height: 28px;
   right: 56px;
}

#satelliteView {
    background-color: rgba(0,0,0,0.5);
    color: white;
    top: 0px;
    height: 28px;
    position: absolute;
    // border: 1px solid black;
    // border-radius: 25px;
}
